In [8]:
# 데이터 선택 (기본)
import pandas as pd
df = pd.read_csv('score.csv', index_col='지원번호')

# column 선택
df['이름']

# column 선택 (정수 index)
df.columns[0]
for i in range(1,5):
    print(df.columns[i])

df[df.columns[0]]
df[df.columns[-1]] # 맨 끝에 있는 데이터를 불러오기 

df['영어'][0:5]
df[['이름','키']][:3]

학교
키
국어
영어

       이름    키
지원번호
1번    채치수  197
2번    정대만  184
3번    송태섭  168