In [99]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time

In [100]:
number = []
name = []
position = []
age = []
nation = []
team = []
value = []

for i in range(1,5):
    url = 'https://www.transfermarkt.com/spieler-statistik/wertvollstespieler/marktwertetop/mw/ajax/yw1/sp/page/3/5/10/page/8//page/' + str(i)
    headers = {'User-Agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36'}
    r = requests.get(url, headers=headers)

    # 이 부분이 뭔지 잘 모르겠넨 
    soup = BeautifulSoup(r.content, 'html.parser') # r.content 혹은 r.text
    soup.find_all()

    player_info = soup.find_all('tr', class_=['odd','even'])

    for info in player_info:
        player = info.find_all('td')
        number.append(player[0].text)
        name.append(player[3].text)
        position.append(player[4].text)
        age.append(player[5].text)
        nation.append(player[6].img['alt'])
        team.append(player[7].a['title'])
        value.append(player[8].text)

In [101]:
df = pd.DataFrame(
    {
        'number' : number,
        'name' : name, 
        'position' : position,
        'age' : age,
        'nation' : nation,
        'team' : team,
        'value' : value
    }
)

df.set_index('number', inplace=True)
df.to_csv('transfermarkt25.csv')

df

,name,position,age,nation,team,value
number,,,,,,
1,Jude Bellingham,Attacking Midfield,20,England,Real Madrid,€180.00m
2,Erling Haaland,Centre-Forward,23,Norway,Manchester City,€180.00m
3,Kylian Mbappé,Left Winger,25,France,Paris Saint-Germain,€180.00m
4,Vinicius Junior,Left Winger,23,Brazil,Real Madrid,€150.00m
5,Bukayo Saka,Right Winger,22,England,Arsenal FC,€120.00m
...,...,...,...,...,...,...
96,Bremer,Centre-Back,26,Brazil,Juventus FC,€50.00m
97,Kaoru Mitoma,Left Winger,26,Japan,Brighton & Hove Albion,€50.00m
98,Anthony Gordon,Left Winger,22,England,Newcastle United,€50.00m
99,Amadou Onana,Defensive Midfield,22,Belgium,Everton FC,€50.00m
100,Jeremie Frimpong,Right-Back,23,Netherlands,Bayer 04 Leverkusen,€50.00m