In [ ]:
# 파일에서 데이터 불러오기
import pandas as pd
import numpy as np
df = pd.read_csv('data/friend_list.csv')
df2 = pd.read_csv('data/friend_list_tab.txt', delimiter='\t')
df3 = pd.read_csv('data/friend_list_no_head.csv', header=None)
df3.columns = ['name','age', 'job']
df4 = pd.read_csv('data/friend_list_no_head.csv', header=None, names=['name','job','age'])

In [ ]:
# 데이터 프레임 생성하기 
# 01
friend_dict_list = [ 
    {'name': 'John', 'age': 25, 'job': 'student'},
    {'name': 'Nate', 'age': 28, 'job': 'teacher'}
]

In [ ]:
# 02
from collections import OrderedDict
friend_ordered_dict = OrderedDict(
    [
        ('name', ['John', 'Jenny', 'Nate']),
        ('age', [20, 30, 30]),
        ('job', ['student', 'developer', 'teacher']) 
        ] 
)
df = pd.DataFrame.from_dict(friend_ordered_dict)

In [ ]:
friend_list = [ ['John', 20, 'student'],['Jenny', 30, 'developer'],['Nate', 30, 'teacher'] ]
column_name = ['name', 'age', 'job']
df = pd.DataFrame.from_records(friend_list, columns=column_name)

In [ ]:
# 데이터프레임 파일로 저장하기 
friends = [
    {'name': 'John', 'age': 20, 'job' : 'student'},
    {'name': 'Nate', 'age': 30, 'job' : 'teacher'},
    {'name': 'Jenny', 'age': 28, 'job' : None},
]
df = pd.DataFrame(friends)
df= df[['name','age','job']]
df.to_csv('data/friends.csv', index=False, header=True, na_rep= '-')

In [ ]:
# 데이터프레임 행, 열 선택 및 필터하기
friend_data = {
    'name': ['John', 'Lisa', 'Jenny'],
    'age': [25, 26, 28],
    'job': ['main', 'sub', 'vocal']
}

df = pd.DataFrame(friend_data)
df.loc[[0,2]]

In [ ]:
friend_data = {
    'name': ['John', 'Lisa', 'Jenny'],
    'age': [25, 26, 28],
    'job': ['main', 'sub', 'vocal']
}

df = pd.DataFrame(friend_data)
df[df.age >25]
df.query('age>25')
df[(df.age>25) & (df.name == 'Jenny')]

In [ ]:
black_pink = {
    'name' : ['Lisa', 'Jisu', 'Jenny', 'Rose'],
    'age' : [20, 28, 30, 27],
    'position' : ['dancer', 'visual', 'sub', 'main'],
}

df = pd.DataFrame(black_pink)

In [ ]:
df.iloc[:,:2]

In [ ]:
# 데이터프레임 행, 열 삭제하기 
df = pd.read_csv('data/friend_list_no_head.csv', header=None, names=['name','age','job'])
df_filtered = df[['name', 'age']]
df_filtered = df.drop('job', axis=1)
df.drop('job', axis=1, inplace=True)

In [ ]:
# 데이터프레임 행, 열 생성 및 수정하기
df = pd.read_csv('data/friend_list_no_head.csv', header=None, names=['name','age','job'])
df['salary'] = 0 
df['salary'] = np.where(df['job'] != 'student', 'yes', 'no')

In [ ]:
test_data = [
    {'name' : 'Jenny', 'mid' : 95, 'final' : 35},
    {'name' : 'Jisu', 'mid' : 85, 'final' : 85},
    {'name' : 'Lisa', 'mid' : 65, 'final' : 85},
    {'name' : 'Rose', 'mid' : 75, 'final' : 95},
]
df = pd.DataFrame(test_data)
df['total'] = df['mid']+df['final']
df['avg'] = df['total']/2

grades = []

for row in df['avg']:
    if row>=90:
        grades.append('A')
    elif row>=80:
        grades.append('B')
    else:
        grades.append('F')
df['grades'] = grades

def pass_or_fail(row):
    if row != 'F':
        return "Pass"
    else:
        return "Fail"

df.grades = df.grades.apply(pass_or_fail)

In [ ]:
date_list = [
    {
        'yyyy-mm-dd' : '2000-06-27'
    },
    {
        'yyyy-mm-dd' : '2007-10-27',
    },
]
df = pd.DataFrame(date_list)

def extract_year(row):
    return row.split('-')[0]

df['year'] = df['yyyy-mm-dd'].apply(extract_year)

In [32]:
test_data = [
    {'name' : 'Jenny', 'mid' : 95, 'final' : 35},
    {'name' : 'Jisu', 'mid' : 85, 'final' : 85},
    {'name' : 'Lisa', 'mid' : 65, 'final' : 85},
    {'name' : 'Rose', 'mid' : 75, 'final' : 95},
]

test_data2 = [
    {'name' : 'Ben', 'mid' : 50, 'final' : 50},
]

df = pd.DataFrame(test_data)
df2 = pd.DataFrame(test_data2)
df = pd.concat([df,df2], ignore_index=True) # append 말고 concat을 사용한대요

In [ ]:
#  데이터 그룹 만들기 
student_list = [
    {'name': 'John', 'major' : 'Computer Science', 'sex' : 'male' },
    {'name': 'Nate', 'major' : 'Computer Science', 'sex' : 'male' },
    {'name': 'Abraham', 'major' : 'Physics', 'sex' : 'male' },
    {'name': 'Brian', 'major' : 'Physicology', 'sex' : 'male' },
    {'name': 'Janny', 'major' : 'Economics', 'sex' : 'female' },
    {'name': 'Yuna', 'major' : 'Economics', 'sex' : 'female' },
]
df = pd.DataFrame(student_list)

# 새롭게 열을 추가할 때 

df.loc[len(df)] = ['Edward', 'Computer Science', 'male']
df.loc[len(df)] = ['Jennifer', 'Computer Science', 'female']
df.loc[len(df)] = ['Zara', 'Psychology', 'female']

group_major = df.groupby('major')
group_major.groups

for name, group in group_major:
    print(name + " : " + str(len(group)))
    print(group)

df_major_cnt = pd.DataFrame({'count' : group_major.size()}).reset_index

group_sex = df.groupby('sex')
for name, group in group_sex:
    print(name + " : " + str(len(group)))
    print(group)

In [ ]:
# 중복 데이터 삭제하기
student_list = [
    {'name': 'John', 'major' : 'Computer Science', 'sex' : 'male' },
    {'name': 'Nate', 'major' : 'Computer Science', 'sex' : 'male' },
    {'name': 'Abraham', 'major' : 'Physics', 'sex' : 'male' },
    {'name': 'Brian', 'major' : 'Physicology', 'sex' : 'male' },
    {'name': 'Janny', 'major' : 'Economics', 'sex' : 'female' },
    {'name': 'Yuna', 'major' : 'Economics', 'sex' : 'female' },
    {'name': 'John', 'major' : 'Computer Science', 'sex' : 'male' },
]

df = pd.DataFrame(student_list)

# True가 중복된다는거 
df.duplicated()

# 이걸 사용하면 중복을 제거할 수 있어요 
df.drop_duplicates()

In [ ]:
student_list = [
    {'name': 'John', 'major' : 'Computer Science', 'sex' : 'male' },
    {'name': 'Nate', 'major' : 'Computer Science', 'sex' : 'male' },
    {'name': 'Abraham', 'major' : 'Physics', 'sex' : 'male' },
    {'name': 'Brian', 'major' : 'Physicology', 'sex' : 'male' },
    {'name': 'Janny', 'major' : 'Economics', 'sex' : 'female' },
    {'name': 'Yuna', 'major' : 'Economics', 'sex' : 'female' },
    {'name': 'John', 'major' : 'Economics', 'sex' : 'male' },
    {'name': 'Nate', 'major' : 'Physicology', 'sex' : 'male' },
]

df = pd.DataFrame(student_list)
# 완벽하게 중복되지 않은 경우에는 False가 나와요 이때 이름이 같은 값으로 넣어주면
df.duplicated(['name'])

# 처음을 살릴 때 
df.drop_duplicates(['name'], keep='first')

# 마지막을 살릴 때 
df.drop_duplicates(['name'], keep='last')

In [ ]:
# NaN 값을 다른 값으로 변경하기 
school_id_list = [
    {'name' : 'John', 'job' : 'student', 'age' : 25},
    {'name' : 'Abraham', 'job' : 'student', 'age' : 15},
    {'name' : 'Jenny', 'job' : 'student', 'age' : 12},
    {'name' : 'Rose', 'job' : 'student', 'age' : 18},
    {'name' : 'Janny', 'job' : 'student', 'age' : None},
    {'name' : 'Yuna', 'job' : 'teacher', 'age' : 45},
    {'name' : 'Nate', 'job' : 'teacher', 'age' : 35},
]
df = pd.DataFrame(school_id_list)
# df.info()

# None value 찾기 
df.isna()

df.isnull()

# df.age = df.age.fillna(0)
# 중간값으로 변경하기
df['age'].fillna(df.groupby('job')['age'].transform('median'), inplace=True)
# df['age'].fillna(df.groupby('job')['age'].transform('mean'), inplace=True)
df

In [ ]:
# apply 함수 사용하기

date_list = [
    {'yyyy-mm-dd' : '2000-06-27'},
    {'yyyy-mm-dd' : '2005-12-20'},
    {'yyyy-mm-dd' : '2007-10-27'},
]
df = pd.DataFrame(date_list)

def extract_year(column):
    return column.split('-')[0]

df['year'] = df['yyyy-mm-dd'].apply(extract_year)

In [ ]:
def get_age(year, current_year):
    return current_year - int(year)
df['age'] = df['year'].apply(get_age, current_year=2023)

In [ ]:
def introduce(age, prefix, suffix):
    return prefix + str(age) + suffix

df['intro'] = df['age'].apply(introduce, prefix="I am ", suffix = " years old." )

In [ ]:
def intro2(row):
    return "I was born in " + str(row.year) + " my age is " + str(row.age)
df['introduce'] = df.apply(intro2, axis=1)

In [ ]:
# unique, value_cnts 
job_list = [{'name': 'John', 'job': "teacher"},
                {'name': 'Nate', 'job': "teacher"},
                {'name': 'Fred', 'job': "teacher"},
                {'name': 'Abraham', 'job': "student"},
                {'name': 'Brian', 'job': "student"},
                {'name': 'Janny', 'job': "developer"},
                {'name': 'Nate', 'job': "teacher"},
                {'name': 'Obrian', 'job': "dentist"},
                {'name': 'Yuna', 'job': "teacher"},
                {'name': 'Rob', 'job': "lawyer"},
                {'name': 'Brian', 'job': "student"},
                {'name': 'Matt', 'job': "student"},
                {'name': 'Wendy', 'job': "banker"},
                {'name': 'Edward', 'job': "teacher"},
                {'name': 'Ian', 'job': "teacher"},
                {'name': 'Chris', 'job': "banker"},
                {'name': 'Philip', 'job': "lawyer"},
                {'name': 'Janny', 'job': "basketball player"},
                {'name': 'Gwen', 'job': "teacher"},
                {'name': 'Jessy', 'job': "student"}
         ]
df = pd.DataFrame(job_list, columns = ['name', 'job'])
print( df.job.unique() )
df.job.value_counts()

In [ ]:
label = [1,2,3,4,5]
prediction = [1,2,2,5,5]

comparison = pd.DataFrame(
    {'label': label,
     'prediction': prediction
    })

comparison